streamlit
pandas
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gspread
selenium
python-dotenv
beautifulsoup4
langchain-ollama
langchain-community
langchain
langchain-text-splitters
langchain-openai